<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
          integrity="sha512-lYQDLpJ5J23sXSScaA6hI0f+R8uVvaz3TAqj57d9JS5P3uC2tnuLMy02KuvqWekuHpL6ZW1l0YekB19AhtujdA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body>
<div class="container mt-5 ">
    <h1 class="text-center">UPDATE THE DETAILS</h1>

    <form method="post" action="/update" class="border border-white" style="max-width: 400px; border: 4px solid dark;">
        <input type="hidden" th:field="${user.id}"/>
        <div class="form-group border-bottom border-primary pb-3">
            <label for="name" class="text-primary">Name:</label>
            <input type="text" class="form-control" id="name" th:field="${user.name}" required>
        </div>

        <div class="form-group border-bottom border-dark pb-3">
            <label for="name" class="text-primary">Password:</label>
            <input type="text" class="form-control" id="password" th:field="${user.password}" required>
        </div>

        <div class="form-group border-bottom border-dark pb-3">
            <label for="email" class="text-primary">Email:</label>
            <input type="email" class="form-control" id="email" th:field="${user.email}" required>
        </div>
        <div class="form-group border-bottom border-dark pb-3">
            <label for="gender" class="text-primary">Gender:</label>
            <select class="form-control" id="gender" th:field="${user.gender}" required>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
        </div>
        <div class="form-group border-bottom border-dark pb-3">
            <label for="country" class="text-primary"><i class="fas fa-globe"></i> Country:</label>
            <select class="form-control" id="country" name="country" required>
                <option value="India">India</option>
                <option value="USA">USA</option>
                <option value="Nepal">Nepal</option>
                <option value="Pakistan">Pakistan</option>
                <option value="Australia">Australia</option>
                <!-- Add more options as needed -->
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>

</div>
</body>
</html>
